@use "sass:color";

//Color variables
$cv-ligthbackground: #faeddf;
$cv-darkbackground: #f0deca;
$cv-superdarkbg: #d3bca4;
$cv-color: #81613b;
$cv-category: #2d8392;

//Font variables
$font-title: 'Raleway Dots', cursive;
$font-body: 'Raleway', sans-serif;
$font-icon: 'Courier New', Courier, monospace;

//Size variables
$mqMaxWidth: 600px;
